/* GALLERY */
.grid_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
	padding: 16px 0px;
	margin: 16px 0px;
}

.grid_item {
	border-radius: 8px;
	text-align: center;
	overflow: hidden;
}

.grid_item img {
	transition: 0.1s linear;
}

.grid_item img:hover {
	transform: scale(1.05);
}

.grid_item:first-child {
	grid-row: span 2;
	grid-column: span 1;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	color: var(--white);
	padding: 35% 32px 32px 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.heading {
	font-size: var(--font-size-lg);
	font-weight: 500;
}

.sub_heading {
	font-size: var(--font-size-md1);
	font-weight: 500;
}

.description {
	font-size: var(--font-size-sm);
	opacity: 0.8;
}

@media only screen and (max-width: 768px) {
	.grid_container {
		grid-template-columns: repeat(1, 1fr);
	}
}
