.bento_box {
	box-shadow: rgba(100, 100, 111, 0.2) 2px 2px 8px 2px;
	border-radius: 8px;
	padding: 20px;
}

.bento_box h3 {
	font-weight: 500;
	font-size: 24px;
}

.bento_box p {
	font-weight: 400;
	font-size: 16px;
	color: var(--gray);
}

.large {
	grid-column-end: span 3; /* This box will span 2 columns */
}

.medium {
	grid-column-end: span 2; /* This box will span 1 column */
}

.small {
	grid-column-end: span 1; /* This box will also span 1 column */
}

@media only screen and (max-width: 576px) {
	.large,
	.medium,
	.small {
		grid-column-end: span 3;
	}
}
