.landing {
	min-height: 100vh;
	background-image: url("/assets/info_image.png");
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 220px;
	padding-bottom: 48px;
}

.content {
	color: var(--white);
	font-weight: 500;
	font-size: var(--font-size-xxl);
	line-height: 120%;
	text-align: center;
}

.mouse {
	width: 24px;
	height: 44px;
	border: 3px solid black;
	border-radius: 60px;
	position: relative;
}

.mouse::before {
	content: "";
	width: 6px;
	height: 6px;
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 25px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 25px;
	}
}

@media only screen and (max-width: 576px) {
	/* iPhone 14 Pro Max */
	.content {
		display: none;
	}

	.landing {
		justify-content: flex-end;
		height: 90vh;
		min-height: 0vh;
	}
}
