.projects {
	padding: 64px 100px;
}

.project_head {
	display: flex;
	justify-content: space-between;
	padding-bottom: 24px;
}

.project_head_left {
	display: flex;
	flex-direction: column;
}

.projects_heading {
	font-size: var(--font-size-xl);
	font-weight: 500;
}

.projects_sub {
	width: 70%;
	font-size: var(--font-size-md);
	padding: 16px 0px;
}

.cards {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	display: flex;
	flex-direction: column;
	width: 32%;
}

.card_image {
	width: 100%;
	height: 320px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.card_label {
	display: flex;
	justify-content: space-between;
	font-size: var(--font-size-lg);
	font-weight: 500;
	padding: 12px 0px;
}

.card_description {
	font-size: var(--font-size-sm);
	color: var(--gray);
}

.status {
	position: absolute;
	padding: 6px 12px;
	background-color: var(--kauban-brown);
	color: var(--white);
	font-size: var(--font-size-xs);
	font-weight: 500;
}

@media only screen and (max-width: 576px) {
	/* iPhone 14 Pro Max */
	.projects {
		padding: 24px 36px;
	}
	.project_head {
		flex-direction: column;
	}
	.projects_sub {
		width: 100%;
	}
	.card {
		width: 100%;
		margin-bottom: 48px;
	}
}
