:root {
  /* colors */
  --kauban-brown: #d39f75;
  --black: #000000;
  --white: #ffffff;
  --gray: #4f4f4f;

    --font-family: 'Mazzard', sans-serif;
    --font-size-xl: 18px;
    --font-size-lg: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;
    --font-size-xs: 10px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --black: #ffffff;
  --white: #000000;
  }
} */

@font-face {
  font-family: 'Mazzard';
  src: url('/fonts/MazzardM-Bold.otf') format('opentype'); 
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard';
  src: url('/fonts/MazzardM-Medium.otf') format('opentype'); 
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard';
  src: url('/fonts/MazzardM-Regular.otf') format('opentype'); 
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard';
  src: url('/fonts/MazzardM-Thin.otf') format('opentype'); 
  font-weight: 100;
  font-style: normal;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 150%;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Mazzard', sans-serif;
  font-size: var(--font-size-lg);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.main{
  padding-top: 88px;
  min-height: 90vh;
}

.emphasized{
	color: var(--black);
	font-weight: 500;
	padding: 4px;
	transition: 0.2s ease;
}

.emphasized:hover{
	background-color: var(--kauban-brown);
}