.cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #fff; /* Adjust color as needed */
	z-index: 999; /* Ensure cursor stays on top */
	display: flex;
	justify-content: center;
	align-items: center;
}

.cursor-text {
	color: #fff; /* Adjust color as needed */
	font-size: 12px;
	font-weight: bold;
}
